<section class="mainContent"></section>

<aside class="rightAside">
  <h3>Right Side bar content</h3>
</aside>

<footer class="btmFooter">
  <h4>Footer</h4>
  <h5>Insert Company Logo Here:</h5>
</footer>
</div>
