<nav class="sideNav">
  <h3>Languages:</h3>
  <hr>
  <a href="#">HTML/CSS</a><br>
  <a href="#">Responsive Design</a><br>
  <a href="#">Visual Basic</a><br>
  <a href="#">C#</a><br>
  <a href="#">ASP</a><br>
  <a href="#">Ruby</a><br>
  <a href="#">Ruby on Rails</a><br>
  <a href="#">PHP</a><br>
  <a href="#">Java</a><br>
  <a href="#">JavaScript</a><br>
  <a href="#">jQuery</a><br>
  <a href="#">Mobile Development</a>
</nav>