<nav class="topNav">
    <a href="#">Home</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#">About Us</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#">Basic Tips</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#">Q & A</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#">What the FAQ?</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#">Resources</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#">Stories</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
</nav>