
<nav class="topNav">
  <a href="#">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="#">About the Admins</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="#">Basic Tips</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="#">Q & A</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="#">FAQ</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="#">Resources</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="#">Coding Horror Stories</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="#">Login/Logout</a>
</nav>