html, body
{
    background-color: black;
    height: 100%;
    width: 100%;
}

body
{
	padding: 1%;
    font-size: 1.5em;

}

/*container formatting*/
#container
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 200%;
}

/* main tag formatting */
.headerBar
{
    /*border: 2px solid lime;*/
    background-color: #669;
    color: #FFF8DC;
    padding-left: 1%;
    padding-right: 1%;
}
.topNav
{
    /*border: 2px solid blue;*/
    padding: 1%;
    background-color: #003333;  /*#CCCC99*/
}


.sideNav
{
    /*border: 2px solid yellow;*/
    font-size: .8em;
    float: left;
    width: 15%;
    background-color: #834C24;
    height: 70%;
	padding-left: 1%;

}


.mainContent
{
    /*border: 2px solid green;*/

    width: 70%;
    background-color: white;
    height:70%;
    overflow: scroll;
    padding-right: 1%;
    padding-left: 1%;
    float: left;
    /*position: absolute;*/

}


.rightAside
{
    /*border: 2px solid orange;*/
    float: right;
    width: 10%;
    background-color: #CCCC99;
    height: 70%;
    padding-left: 1%;
    padding-right: .5%;

}

.btmFooter
{
    /*border: 2px solid lime;*/
    background-color: #003366;
    color: #FFF8DC;
    position: relative;
    margin-top: 0px;
    clear:both;

	padding-left: 1%;
    /*background-color: grey;*/
}

/* additional tag formatting */
h2{color: #666699;}
h3{color: #FFF8DC;}
h4{color: #FFF8DC;}

/* basic link */
a:link {color: #cc9;}


a:visited {
    color: #003333;
}

/* mouse over link */
a:hover {
    color: yellow;
}

/* visited link */
a:active {
    color: red;
}



/* Website logo formatting*/
.spig
{
    padding-left: 1%;
    border: ridge 5px black;
    margin-bottom: 3px;
    margin-top: 3px;
    margin-left: 10%;
    -webkit-box-shadow: 5px 5px 5px #003031;
    -moz-box-shadow: 5px 5px 5px #003031;
    box-shadow: 5px 5px 5px #003031;
}
#spork
{
    padding-left: 1%;
    width: 65%;
    margin-top:5px;
    border-right: ridge 5px black;
    border-radius: 4em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;

}